@model IEnumerable<Game>

<h2 style ="text-align: center;">Genre: @ViewBag.genre</h2>
<br>

<div class="tags">
    @foreach (var genre in ViewBag.genres)
    {
        <a class="tag" href="@Url.Action("GamesByGenre", "Game", new { genre = @genre })">@genre</a>
    }
</div>


<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>



    @foreach (var game in @Model)
    {
        <tr>
            <td><img src="@game.Thumbnail" alt="@game.Title image"></td>
            <td>
                <p style="font-family: Impact; font-size: 24px">@game.Title</p>
                <p><strong>Average Rating</strong>: @game.AverageRating</p>
                <p><strong>Genre</strong>: @game.Genre </p>
                <p>@game.ShortDescription</p>
            </td>
            <td><a href="@Url.Action("ViewReview", "Game", new { name = game.Title })">View Reviews</a></td>
        </tr>
    }

</table>